@model SampleWebConfigurable.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Configure This AKS!</h1>
    <ul style="list-style-type: none;">
        <li><b>Host Name:</b> @Model.HostName</li>
        <li><b>Environment:</b> @Model.EnvironmentName</li>
        <li><b>My Setting:</b> @Model.MySetting</li>
        <li><b>My Secret:</b> @Model.MySecret</li>
    </ul>
</div>
